.producto{
    display: inline-block;
    margin: 20px;
    
    height: 15%;
    width: 20%;
    text-align: center;
    vertical-align: top;
}

.producto > .titulo{
    height: 25%;
}
.costo{
    vertical-align: bottom
}

.producto > button{
     display: inline-block
}

#cart_shop{
    padding: 30px;
    align-content: center;
}

.select_image{
    width: 70px;
    height: 70px; 
    margin: 15px;

}

#im_selec_prod{
    
    width:600px; 
    height:470px;
    margin: 5%

}


.imgs_producto{
    width: 100%;
}

.imgs_producto  td{
  border:  1px solid black; 
  width: 100% ;/* Añade un borde negro sólido de 1px a cada celda */
}


.contenedor_info {
  display: grid;
  grid-template-columns: 60% 30%;
  gap:2%;
  margin: 2.5%;

}

.info_producto{
    text-align:left;
    width: 100%;
    margin: 0%;
    
}

#contenedor-imgs{
    width: 100%;
    margin: 0px;
}

.detalle_1linea{
    display: inline-block;
}

h3 {
    margin: 0px;
    padding: 0px;
}

.imgs-relaci{
    overflow-x: scroll;
    overflow-y: hidden;
    
    display: flex;
}