.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; 
}

.contenedor {
    width: 300px;
    padding: 30px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 20px #1E90FF; 
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif; 
    color: #FFFFFF; 
}

.contenedor h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    margin-bottom: 25px;
    color: #39FF14;
}

.contenedor input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    background-color: #333333;
    border: 1px solid #1E90FF;
    border-radius: 5px;
    color: #D3D3D3;
    box-sizing: border-box;
}

.contenedor input::placeholder {
    color: #666;
}

.contenedor button {
    width: 100%;
    padding: 15px;
    background-color: #1E90FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contenedor-login button:hover {
    background-color: #39FF14;
    box-shadow: 0 0 10px #39FF14 ;
}
.boton-volver {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    z-index: 1000;
}